<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="API Rewrite" stopProcessing="true">
                    <match url="^api/(.*)$" />
                    <action type="Rewrite" url="api.php?action={R:1}" />
                </rule>
                <rule name="Logs Stream" stopProcessing="true">
                    <match url="^logs/stream$" />
                    <action type="Rewrite" url="logs_stream.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>